*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background:linear-gradient(to bottom,rgb(66, 66, 255),rgb(130, 130, 255));
    min-height: 100vh;
}

.pokedex{
    width: 100%;
    max-width: 425px;
}

main{
    background-color: rgb(130, 130, 255);
    display: inline-block;
    margin-top: 2%;
    position: relative;
}

.pokemon{
    position: absolute;
    left: 0;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%,20%);
    height: 18%;
}

.pokemon_data{
    position: absolute;
    color: #aaa;
    top: 54%;
    right: 27%;
    font-size: clamp(10px,5vw,25px);
}

.pokemon_name{
    color: gray;
    text-transform: capitalize;
}

.form{
    position: absolute;
    background-color: red;
    width: 65%;
    top: 65%;
    left: 13.5%;

}

.input_search{
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid;
    border-radius: 5px;
    font-weight: 600;
    color: gray;
    font-size: clamp(8px,5vw,1rem);
    box-shadow: -3px 4px 0 #888,-5px 7px 0 #333;
}

.buttons{
    position: absolute;
    bottom: 10%;
    left:50%;
    width: 65%;
    transform: translate(-57%,0);
    gap: 20px;
    display: flex;
}

.button{
    width: 50%;
    padding: 4%;
    border:2px solid #000000; 
    border-radius: 5px;
    font-size: clamp(8px,5vw,1rem);
    font-weight: 600;
    color: white;
    background-color: #333;
    box-shadow: -3px 4px 0 #181515;
}

.button:active{
    box-shadow: inset -3px 4px 0 #181515;
    font-size: 0.9rem;
}